@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    --accent: #59C2FF;
    --primary: #0D1017;
    --text: #BFBDB6;
    background: var(--primary);
    color: var(--text);
    padding: 15% 15% 15% 15%;
}

.text {
    padding: 15% 15% 15% 15%;
}

.img {
    padding: 
}

div.text {
    padding: 5%;
    padding-top: 5%;
}

code {
    font-family: monospace;
}

::selection {
    background: var(--text);
    color: var(--primary);
}

a {
    color: var(--accent);
    font-weight: 1000;
    text-decoration: none;
    /* text-decoration-style: solid; */
    /* text-decoration-color: #ddd; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

/* li { */
/*     margin-top: 1%; */
/* } */

div {
    margin-top: 2%;
}

/* @keyframes colors { */
/*     0% { */
/*         color: var(--bigfin-accent); */
/*     } */
/*     50% { */
/*         color: var(--bigfin-text); */
/*     } */
/*     100% { */
/*         color: var(--bigfin-accent); */
/*     } */
/* } */

h1, h3 {
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* span { */
/*     padding-left: 1%; */
/* } */

blockquote {
  border-left: 1px solid white;
  padding-left: 2%;
  margin-left: 0;
}

:root {
    --mylinkcolor: #d1a0f2;
}

small a {
    text-decoration: none;
}

small i {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 1% 5% 1% 5%;
    }

    code {
        display: none;
    }

    i {
        display: none;
    }

    #alts {
        display: none;
    }

    #contact, #tm {
        margin-top: 15%;
    }
}

.link-row {
    display: flex;
    flex-wrap: wrap;
}

.link-a {
    margin: 10px;
    font-size: 120%;
}
